$black: #000;
$black-regular: #0F0F0F;
$gray-light: #F4F6FC;
$gray-regular: #A6AAB7;
$purple-light: #9747FF;
$red-regular: #D80001;
$white: #fff;

$pix-5: 5px;
$pix-10: 10px;
$pix-12: 12px;
$pix-13: 13px;
$pix-15: 15px;
$pix-20: 20px;
$pix-25: 25px;
$pix-30: 30px;
$pix-40: 40px;
$pix-50: 50px;
$pix-80: 80px;
$pix-90: 90px;
$pix-100: 100px;
$pix-120: 120px;
$pix-160: 160px;
$pix-600: 600px;

$per-50: 50%;
$per-100: 100%;

$vh-100: 100vh;
