<template>
  <div :class="PREFIX">
    <template v-for="comentario of comentarios" :key="comentario.id">
      <cmp-comentario :item="comentario"/>
    </template>  
  </div>
</template>

<script src="./cmp-comentarios.ts" lang="ts"/>
<style src="./cmp-comentarios.scss" lang="scss" scoped/>
