<template>
  <div :class="PREFIX">
    <div class="foto">
      <div class="imagen">
        <div class="img" :style="{'--cmp-comentario-foto-background-image': 'url('+item.photo+')'}"></div>
      </div>
    </div>
    <div class="descripcion">
      <div class="datos">
        <span class="email">{{item.email}}</span>
        <span>{{item.date}}</span>
      </div>
      <div class="comentario">
        <span>{{item.comment}}</span>
      </div>
      <div class="opciones">
        <div class="like">
          <div class="img" :style="{ '--cmp-comentario-descripcion-opciones-like-background-image': 'url(' + `${PATH_RESOURCES}/icons/like-svgrepo-com.svg` + ')' }"></div>
        </div>
        <div class="cantidad">
          <span>{{item.likes}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./cmp-comentario.ts" lang="ts"/>
<style src="./cmp-comentario.scss" lang="scss" scoped/>
