@import "../../../../assets/styles/variables";

$prefix: cmp-comentario;

.#{$prefix} {
    display: flex;
    gap: 0.5rem;
    height: $pix-80;

    .foto {
        height: $per-100;
        width: $pix-50;

        .imagen {            
            height: $pix-40;
            width: $pix-40;

            .img {
                background-image: var(--cmp-comentario-foto-background-image);
                background-size: contain;
                background-repeat: no-repeat;
                border-radius: $per-50;
                height: $per-100;
                width: $per-100;
            }
        }
    }

    .descripcion {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 0.5rem;

        .datos {
            color: $gray-regular;
            display: flex;
            font-size: $pix-12;
            gap: 1rem;

            .email {
                color: var(--black, $black);
                font-size: $pix-13;
            }
        }

        .comentario {
            color: var(--black-regular, $black-regular);
            font-size: 1rem;
        }
    }

    .opciones {
        align-items: center;
        display: flex;
        gap: $pix-10;

        .like {
            height: $pix-20;
            width: $pix-20;
            
            .img {
                background-image: var(--cmp-comentario-descripcion-opciones-like-background-image);
                background-size: contain;
                background-repeat: no-repeat;
                width: $per-100;
                height: $per-100;
            }
        }

        .cantidad {
            color: #606060;
            font-size: $pix-12;
        }
    }
}